/.vs/
*.dll
*.exe
*.tmp
*.lib
*.pdb
*.ilk
*.tlog
*.obj
*.o
*.log
*.idb
*.layout
*.iobj
*.ipdb
/*/obj
/*/CMakeFiles
/*/CMakeCache.txt
/*/Makefile
/*/.vs
/Debug
/*/ALL_BUILD.vcxproj*
/*/ZERO_CHECK.vcxproj*
/*/cmake_install.cmake

