/.vs/
*.dll
*.exe
*.tmp
*.lib
*.pdb
*.ilk
*.tlog
*.obj
*.o
*.log
*.idb
*.layout
*.iobj
*.ipdb
/ska_physic_simulation/Debug
/ska_world/Debug
/ska_core/.vs/Project/v15
/ska_core/CMakeFiles
/ska_draw/.vs/ska_draw/v15
/ska_draw/CMakeFiles
/ska_ai/.vs/ska_ai/v15
/ska_ai/CMakeFiles
/ska_audio/.vs/ska_audio/v15
/ska_audio/CMakeFiles
/ska_core/.vs/ska_core/v15
/ska_core_test/.vs/ska_core_test/v15
/ska_core_test/CMakeFiles
/ska_gui/.vs/ska_gui/v15
/ska_gui/CMakeFiles
/ska_particle/.vs/ska_particle/v15
/ska_particle/CMakeFiles
/ska_physic/.vs/ska_physic/v15
/ska_physic/CMakeFiles
/ska_script/.vs/ska_script/v15
/ska_script/CMakeFiles
/ska_world/.vs/ska_world/v15
/ska_world/CMakeFiles
/ska_gui_test/CMakeFiles
/Debug
/ska_core/Makefile
/ska_draw/Makefile
/ska_gui/Makefile
/ska_gui_test/.vs/ska_gui_test/v15
/cmake_ska_gui_test.bat
/ska_gui_test/cmake_.bat
/ska_gui/cmake_.bat
/ska_draw/cmake_.bat
/ska_core/cmake_.bat
/ska_physic_homemade/.vs/ska_physic/v15
/ska_physic_homemade/CMakeFiles
/ska_physic_homemade/CMakeCache.txt
/ska_physic_homemade/ALL_BUILD.vcxproj.filters
/ska_physic_homemade/ALL_BUILD.vcxproj
/ska_physic_homemade/ZERO_CHECK.vcxproj.filters
/ska_physic_homemade/ZERO_CHECK.vcxproj
/ska_physic_homemade/cmake_install.cmake
