/.vs/
*.dll
*.exe
*.tmp
*.lib
*.pdb
*.ilk
*.tlog
*.obj
*.o
*.log
*.idb
*.layout
*.iobj
*.ipdb
/*/obj
/CMakeFiles
/*/CMakeFiles
/*/CMakeCache.txt
/*/Makefile
/*/.vs
/Debug
/Release
/*/*.cbp
/*/*.depend
/*/*.sln*
/*/*.vcxproj*
/*/cmake_install.cmake
/*/Debug
/*/Release
/ska_physic_chipmunk/ska_physic_chipmunk.dir/Debug
/ska_physic_homemade/ska_physic_homemade.dir/Debug
