[submodule "ska_core/skalog"]
	path = ska_core/skalog
	url = https://github.com/Scorbutics/skalog.git
	branch = master
[submodule "external/skalog"]
	path = external/skalog
	url = https://github.com/Scorbutics/skalog.git
[submodule "external/skabase"]
	path = external/skabase
	url = https://github.com/Scorbutics/skabase.git
	branch = master
[submodule "external/skalang"]
	path = external/skalang
	url = https://github.com/Scorbutics/skalang.git
