version: '{branch}.{build}'
os: Visual Studio 2015
clone_depth: 1
cache:
  - c:\freshmingw
  - c:\usr
before_build:
  - |-
    set PREFIX=C:\usr
    set MINGW32=C:\freshmingw
    set ARCH=i686-w64-mingw32
    set PROJECT_PATH=C:\projects\ska

  - git submodule update --init --recursive

  # depends are only fetched where there's no cache
  - if exist %PREFIX% set DEPENDS=rem

  - |-
    %DEPENDS% mkdir %PREFIX%\include
    %DEPENDS% mkdir %PREFIX%\lib
    %DEPENDS% cd %TEMP%

  # SDL2
  - |-
    %DEPENDS% appveyor DownloadFile http://www.libsdl.org/release/SDL2-devel-2.0.5-mingw.tar.gz
    %DEPENDS% 7z x SDL2-devel-2.0.5-mingw.tar.gz > nul
    %DEPENDS% 7z x SDL2-devel-2.0.5-mingw.tar > nul
    %DEPENDS% copy SDL2-2.0.5\%ARCH%\include\SDL2\* %PREFIX%\include\ > nul
    %DEPENDS% copy SDL2-2.0.5\%ARCH%\lib\*.a %PREFIX%\lib > nul
    %DEPENDS% copy SDL2-2.0.5\%ARCH%\bin\*.dll %PREFIX%\lib > nul

  # SDL2_image
  - |-
    %DEPENDS% appveyor DownloadFile http://www.libsdl.org/projects/SDL_image/release/SDL2_image-devel-2.0.0-mingw.tar.gz
    %DEPENDS% 7z x SDL2_image-devel-2.0.0-mingw.tar.gz > nul
    %DEPENDS% 7z x SDL2_image-devel-2.0.0-mingw.tar > nul
    %DEPENDS% copy SDL2_image-2.0.0\%ARCH%\include\SDL2\* %PREFIX%\include\ > nul
    %DEPENDS% copy SDL2_image-2.0.0\%ARCH%\lib\*.a %PREFIX%\lib > nul
    %DEPENDS% copy SDL2_image-2.0.0\%ARCH%\bin\*.dll %PREFIX%\lib > nul

  # SDL2_ttf
  - |-
    %DEPENDS% appveyor DownloadFile https://www.libsdl.org/projects/SDL_ttf/release/SDL2_ttf-devel-2.0.12-mingw.tar.gz
    %DEPENDS% 7z x SDL2_ttf-devel-2.0.12-mingw.tar.gz > nul
    %DEPENDS% 7z x SDL2_ttf-devel-2.0.12-mingw.tar > nul
    %DEPENDS% copy SDL2_ttf-2.0.12\%ARCH%\include\SDL2\* %PREFIX%\include\ > nul
    %DEPENDS% copy SDL2_ttf-2.0.12\%ARCH%\lib\*.a %PREFIX%\lib > nul
    %DEPENDS% copy SDL2_ttf-2.0.12\%ARCH%\bin\*.dll %PREFIX%\lib > nul

  # SDL2_mixer
  - |-
    %DEPENDS% appveyor DownloadFile https://www.libsdl.org/projects/SDL_mixer/release/SDL2_mixer-devel-2.0.2-mingw.tar.gz
    %DEPENDS% 7z x SDL2_mixer-devel-2.0.2-mingw.tar.gz > nul
    %DEPENDS% 7z x SDL2_mixer-devel-2.0.2-mingw.tar > nul
    %DEPENDS% copy SDL2_mixer-2.0.2\%ARCH%\include\SDL2\* %PREFIX%\include\ > nul
    %DEPENDS% copy SDL2_mixer-2.0.2\%ARCH%\lib\*.a %PREFIX%\lib > nul
    %DEPENDS% copy SDL2_mixer-2.0.2\%ARCH%\bin\*.dll %PREFIX%\lib > nul

  # Newer mingw is required, as older mingw32 does not support std::thread
  - |-
    %DEPENDS% appveyor DownloadFile "https://sourceforge.net/projects/mingw-w64/files/Toolchains targetting Win32/Personal Builds/mingw-builds/7.2.0/threads-posix/dwarf/i686-7.2.0-release-posix-dwarf-rt_v5-rev1.7z/download"
    %DEPENDS%  7z x download -o%MINGW32% > nul

  - |-
    dir %PREFIX%\lib
    dir %PREFIX%\include
build_script:
  - |-
    set Path=%MINGW32%\mingw32\bin;%Path%
    cd %APPVEYOR_BUILD_FOLDER%
    del "C:\Program Files\Git\usr\bin\sh.exe"

  # Build
  - |-
    cd ska_core
    cmake_

    mingw32-make

    cd ../ska_core_test
    cmake_

    mingw32-make

    cd ../ska_draw
    cmake_

    mingw32-make

    cd ../ska_gui
    cmake_

    mingw32-make

    cd ../ska_gui_test
    cmake_

    mingw32-make VERBOSE=1

    cd ../ska_ai
    cmake_

    mingw32-make

    cd ../ska_particle
    cmake_

    mingw32-make

    cd ../ska_physic
    cmake_

    mingw32-make

    cd ../ska_script
    cmake_

    mingw32-make

    cd ../ska_world
    cmake_

    mingw32-make

    dir C:\projects\ska\Release
    dir C:\projects\ska\Debug

  # Add needed libs
  - |-
    copy %MINGW32%\mingw32\bin\libgcc_s_dw2-1.dll %PROJECT_PATH%
    copy %MINGW32%\mingw32\bin\libwinpthread-1.dll %PROJECT_PATH%
    copy %MINGW32%\mingw32\bin\libstdc*.dll %PROJECT_PATH%
    copy %PREFIX%\lib\SDL2.dll %PROJECT_PATH%
    copy %PREFIX%\lib\SDL2_image.dll %PROJECT_PATH%
    copy %PREFIX%\lib\SDL2_ttf.dll %PROJECT_PATH%
    copy %PREFIX%\lib\libfreetype-6.dll %PROJECT_PATH%
    copy %PREFIX%\lib\zlib1.dll %PROJECT_PATH%
    copy %PREFIX%\lib\libpng16-16.dll %PROJECT_PATH%
  
  # Unit Tests
  - |-
    copy %PROJECT_PATH%\Debug\ska_core_test.exe %PROJECT_PATH%
    cd %PROJECT_PATH%
    ska_core_test.exe

    copy %PROJECT_PATH%\Debug\ska_gui_test.exe %PROJECT_PATH%
    cd %PROJECT_PATH%
    ska_gui_test.exe